# DOCKER COMPOSE COMMAND REFERENCE
# --------------------------------------------------------------------------
# Start    | docker-compose up -d
# Stop     | docker-compose stop
# Update   | docker-compose pull
# Logs     | docker-compose logs --tail=25 -f
# debug    : docker-compose exec inlfuxdb bash --> get into one of 
# influxd 
# influxd backup -db hass_db -skip-errors /mnt/nas0/hass_backup/  # specifc time every week or day 
# influxd restore -newdb hass_db -db hass_db -datadir /var/lib/influxdb/data/hass_db/ /opt/
# sudo systemctl stop dhass # to start debug session 
# sudo systemctl start dhass 
# ./b --help for sync and common commands


services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:2025.12"
    depends_on:
      - psdb
      - victoriametrics
      - mosquitto
    volumes:
      - ./cfg/hass:/config
      - ./cfg/hass/loader.py:/usr/src/homeassistant/homeassistant/loader.py
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host  
    healthcheck:
        test: 'curl -m 90 -sLf http://localhost:8123 || date >> /config/healthcheck' #| pkill -9 python3'
        interval: 90s
        timeout: 60s
        retries: 2    
    #user: "${UID}:${GID}"
    environment:
      TZ: ${TZ} 

  psdb: 
     restart: unless-stopped
     image:  postgres:18.1
     ports:
       - 5432:5432    
     volumes:
       - ./store/psdb2:/var/lib/postgresql/data/pgdata  # Never remove
     environment:
       TZ: ${TZ}      
       POSTGRES_PASSWORD: "$MYSQL_ROOT_PASSWORD"
       POSTGRES_USER: "$MYSQL_USER"
       PGDATA: "/var/lib/postgresql/data/pgdata"

     command: |
        postgres
          -c listen_addresses="*"
          -c max_connections=5
          -c shared_buffers=128MB
          -c effective_cache_size=64MB
          -c work_mem=16MB
          -c maintenance_work_mem=128MB
          -c min_wal_size=128MB
          -c max_wal_size=256MB
          -c checkpoint_completion_target=0.9
          -c wal_buffers=16MB
          -c default_statistics_target=100


  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2.0.22
    restart: unless-stopped
    user: "${UID}:${GID}"    
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./cfg/mosquitto/:/mosquitto/config
      - ./store/mosquitto/data:/mosquitto/data
      - ./store/mosquitto/log:/mosquitto/log
    environment:
      TZ: ${TZ}

  appdaemon:
      container_name: appdaemon
      #4.1.0 4.5.11
      image: acockburn/appdaemon:4.5.12
      #3.0.5
      #user: "${UID}:${GID}"
      depends_on:
       - homeassistant
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - ./cfg/hass:/conf
      restart: always
      environment:
        TZ: ${TZ}      

  #tasmotaadmin:
  #    container_name: tasmotaadmin
  #    image: raymondmm/tasmoadmin:v1.7.0
  #    restart: unless-stopped
  #    ports:
  #      - 9000:80
  #    volumes:
  #      - './cfg/tasmota:/data/tasmoadmin'


  vmagent:
    container_name: vmagent
    image: victoriametrics/vmagent:v1.132.0
    volumes:
      - /tmp/agent:/vmagentdata
      - ./cfg/agent/config:/etc/prometheus
    command:
      - "--promscrape.config=/etc/prometheus/agent.yaml"
      - "--remoteWrite.url=${VMAGENT_URL}"
      - "--remoteWrite.basicAuth.password=${VMAGNET_PASSWORD}"
      - "--remoteWrite.basicAuth.username=${VMAGENT_USER}"

    environment:
      TZ: ${TZ}
    restart: always

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.132.0
    user: "${UID}:${GID}"
    ports:
      - 8428:8428
      - 8089:8089
    volumes:
      - ./store/vm:/victoria-metrics-data
    restart: unless-stopped
    command:
      - "-httpListenAddr=:8428"
      - "-influxListenAddr=:8089"
      - "-retentionPeriod=3y"

  grafana:
      container_name: grafana
      image: grafana/grafana-oss:12.3.1-ubuntu
      user: "${UID}:${GID}"
      depends_on:
        - victoriametrics
      volumes:
        - ./store/grafana2:/var/lib/grafana
      ports:
        - '3000:3000'
      environment:
        #- GF_SECURITY_ALLOW_EMBEDDING=true
        #- GF_SECURITY_COOKIE_SAMESITE=none
        - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
        - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}        
        - TZ=${TZ}      
      restart: unless-stopped


  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    restart: always
    privileged: true
    devices:
      - /dev/kmsg
    command:
      - '--housekeeping_interval=30s'
      - '--docker_only=false'
      - '--disable_metrics=disk,tcp,udp,percpu,sched,process'
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro  # Add cgroup mount
    ports:
      - 8091:8080
   

  ping_exp:
    image: czerwonk/ping_exporter:v1.1.0
    #user: "${UID}:${GID}"
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./cfg/ping_exporter:/config:ro
    cap_add:
      - CAP_NET_RAW
      - NET_ADMIN    
      - NET_RAW

  vmagent2:
    image: victoriametrics/vmagent:v1.132.0
    volumes:
      - /tmp/agent2:/vmagentdata
      - ./cfg/agent2/config:/etc/prometheus
    command:
      - "--promscrape.config=/etc/prometheus/agent.yaml"
      - "--remoteWrite.url=http://10.0.0.140:8428/api/v1/write"

    environment:
      TZ: ${TZ}
    restart: always


volumes:
  nas_10:
    driver: local
    driver_opts:
      type: nfs
      # The IP of your NAS:
      o: ${NAS_URL}
      # Share path on your NAS:
      device: ":${NAS_PATH}" 
