[Unit]
Description=NetworkDocker
Requires=snap.docker.dockerd.service
After=snap.docker.dockerd.service


[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/home/hhaim/hass/netdc
ExecStart=/usr/local/bin/docker-compose up 
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target

